<div>
    <mwl-calendar-month-view [cellTemplate]="defaultTemplate"  [events]="events" [viewDate]="viewDate">
    </mwl-calendar-month-view>
</div>
<ng-template
    #defaultTemplate
    let-day="day"
    let-openDay="openDay"
    let-locale="locale"
    let-tooltipPlacement="tooltipPlacement"
    let-highlightDay="highlightDay"
    let-unhighlightDay="unhighlightDay"
    let-eventClicked="eventClicked"
    let-tooltipTemplate="tooltipTemplate"
    let-tooltipAppendToBody="tooltipAppendToBody"
  >
    <div class="cal-cell-top cell-top-part">
      <span class="cal-day-number">
        {{ day.date | calendarDate: 'monthViewDayNumber':locale }}
      </span>
    </div>
    <div class="cal-events d-flex flex-column align-items-start " *ngIf="day.events.length > 0">
        <div *ngFor="let event of day.events" class="d-flex my-1 ">
            <div
            class="cal-event"
            [style.backgroundColor]="event.color?.primary"
            [ngClass]="event?.cssClass!"
            (mouseenter)="highlightDay.emit({ event: event })"
            (mouseleave)="unhighlightDay.emit({ event: event })"
            [mwlCalendarTooltip]="event.title | calendarEventTitle: 'monthTooltip':event"
            [tooltipPlacement]="tooltipPlacement"
            [tooltipEvent]="event"
            [tooltipTemplate]="tooltipTemplate"
            [tooltipAppendToBody]="tooltipAppendToBody"
            mwlDraggable
            [class.cal-draggable]="event.draggable"
            dragActiveClass="cal-drag-active"
            [dropData]="{ event: event, draggedFrom: day }"
            [dragAxis]="{ x: event?.draggable!, y: event?.draggable! }"
            (mwlClick)="eventClicked.emit({ event: event })"
            ></div>
            <div>{{event.start | date: 'h:mm'}}-{{event?.end | date: 'h:mm'}} {{event.title}}</div>
        </div>
    </div>
  </ng-template>

